* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Lato - Black", sans-serif;
}

div.main-top {
    min-height: 750px;
    background-image: url(../images/top_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px 0;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.logo-cab {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    float: left;
}

.logo-hub {
    font-size: 40px;
    font-weight: 400;
    color: #daa505;
}

.logo-call {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.nav-bar li {
    list-style-type: none;
    display: inline-block;

}

.nav-bar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-bar li a:hover {
    opacity: 0.7;
}

.nav-bar li:not(.last) {
    margin-right: 35px;

}

li.active {
    background-color: #ffc61a;
    width: 96px;
    height: 34px;
    border-radius: 20px;
    padding: 7px 0 0 23px;
}

li.active a {
    color: #010101;
    font-weight: 800;
}

ul.nav-bar {
    justify-self: end;
}

div.menu {
    display: none;
}

.name h1 {
    color: #ffc61a;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

p.tel {
    color: #fff;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

p.sait {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 14px;
    text-align: center;
    margin-top: 15px;
}

div.taxi-img {
    background-image: url(../images/Car_Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 484px;
    max-width: 826px;
    position: absolute;
    top: 390px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

div.name {
    margin-top: 50px;
}

section.best-in-city {
    min-height: 700px;
    background-color: #ffc61a;
    padding: 150px 0 80px;
    display: grid;
    grid-template-columns: 40% 30%;
    justify-content: center;
    grid-column-gap: 100px;
}

.best-in-city h3 {
    color: #000000;
    font-size: 35px;
    text-transform: uppercase;
}

.best-in-city h2 {
    color: #101010;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 25px;
}

.cab-service {
    margin-bottom: 50px;
}

.cab-service p {
    color: #101010;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    text-align: justify;
}

a.read-more {
    display: inline-block;
    text-decoration: none;
    width: 166px;
    height: 50px;
    background-color: #000;
    border-radius: 10px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    padding-top: 10px;
}

a.read-more:hover {
    opacity: 0.7;
}


p.name-form {
    min-height: 77px;
    background-color: #171717;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 37px;
    grid-column: 1/3;
}

.word-cab {
    color: #ffc61a;
}

form {
    max-width: 460px;
    min-height: 472px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 30px;
    background-color: #fff;
    grid-column-gap: 23px;
    justify-self: right;
}

input#vehicle,
.button-form {
    grid-column: 1/3;
}

form input {
    height: 66px;
    border: none;
    border-bottom: 3px solid #e4e4e4;
    padding-left: 10px;
    width: 100%;
}

input[placeholder] {
    color: #000000;
    font-size: 18px;
    font-family: "Lato bold", sans-serif;
    font-weight: 600;
}


.button-form {
    height: 50px;
    background-color: #131313;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 40px;
    border-radius: 10px;
}

.button-form:hover {
    cursor: pointer;
    opacity: 0.7;
}

section.tariffs {
    min-height: 760px;
    background-color: #fff;
}

.tariffs h2 {
    color: #ffc61a;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}

.tariffs h2 span {
    color: #000000;
    font-size: 44px;
}

div.tariff-class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 130px;
    justify-items: center;
}

article.econom {
    justify-self: right;
}

article.business {
    justify-self: left;
}

article.econom,
article.business {
    max-width: 373px;
    min-height: 424px;
    background-color: #f5f4f2;
}


article.standard {
    max-width: 373px;
    min-height: 424px;
    background-color: #ffc61a;
    background-image: url(../images/star-tariffs.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

article.econom h3,
article.business h3,
article.standard h3 {
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 124px;
    text-align: center;
}

.tariffs-description {
    color: #101010;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 30px;
    text-align: center;
}

.tariffs-cost {
    color: #ffc61a;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.tariffs-cost-standard {
    color: #131313;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.tariffs-button {
    width: 166px;
    height: 50px;
    background-color: #ffc61a;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 30px 100px;
}

.tariffs-button-standard {
    width: 166px;
    height: 50px;
    background-color: #1b1b1b;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 30px 100px;
}

.tariffs-button:hover,
.tariffs-button-standard:hover {
    opacity: 0.7;
}

article.econom,
article.business,
article.standard {
    position: relative;
}

.tariff-img {
    position: absolute;
    top: -84px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

section.do-best {
    min-height: 753px;
    background: url(../images/do-best-bg.png) no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
    padding: 80px 190px 20px;
    grid-gap: 80px 150px;
}

.do-best-name {
    color: #ffc61a;
    font-size: 35px;
    text-transform: uppercase;
    grid-column: 1/3;
    text-align: center;
}

.do-best-name span {
    color: #ffffff;
    font-size: 44px;
}

.do-best article h3 {
    color: #ffc61a;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 24px 115px;
}

.do-best article p {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 115px;
}

article.home-pickup {
    background-image: url(../images/home-pickup.png);
    background-repeat: no-repeat;
    background-position: left top;
}

article.fast-booking {
    background-image: url(../images/fast-booking.png);
    background-repeat: no-repeat;
    background-position: left top;
}

article.bonuses-ride {
    background-image: url(../images/bonuses-ride.png);
    background-repeat: no-repeat;
    background-position: left top;
}

article.gps-searching {
    background-image: url(../images/gps-searching.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.do-best-button {
    grid-column: 1/3;
    justify-self: center;
}

section.download {
    min-height: 650px;
    background-color: #fff;
    padding-top: 65px;
    display: grid;
    grid-template: 1fr 4fr/1fr 1fr;
}

.download-name {
    color: #ffc61a;
    font-size: 35px;
    text-transform: uppercase;
    grid-column: 1/3;
    text-align: center;
}

.download-name span {
    color: #000000;
    font-size: 44px;
}

.download-app h3 {
    color: #000000;
    font-size: 25px;
    margin-bottom: 28px;
}

.download-app p {
    color: #101010;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 70px 60px 0;
}

div.download-app {
    justify-self: right;
    padding-top: 50px;
}

img.app-store {
    margin-left: 15px;
}

div.download-img {
    background-image: url(../images/download-hand.png);
    background-repeat: no-repeat;
    background-position: center top;
}


section.reviews {
    min-height: 610px;
    background-image: url(../images/reviews-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 110px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.reviews-name {
    color: #ffc61a;
    font-size: 35px;
    text-transform: uppercase;
    grid-column: 1/3;
    text-align: center;
}

.reviews-name span {
    color: #ffffff;
    font-size: 44px;
}

.separate-review-left,
.separate-review-right {
    background-image: url(../images/review-img.svg);
    background-repeat: no-repeat;
    padding: 40px 50px;
    max-width: 581px;
    background-size: contain;
}

.separate-review-left {
    justify-self: right;
}

p.review-description {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

p.review-name {
    color: #ffc61a;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 85px;
}

p.review-profession {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 85px;
}

.review-img {
    float: left;
}

div.call {
    min-height: 286px;
    background-color: #ffc61a;
    padding-top: 70px;
    text-align: center;
}

p.call-name {
    color: #000000;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 32px;
}

p.call-tel {
    color: #000000;
    font-size: 77px;
    text-transform: uppercase;
    font-weight: 800;
}

footer {
    min-height: 500px;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
}

.footer-section-name {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 38px;
}

hr {
    height: 8px;
    background-color: #ffc61a;
    border: 0;
    margin-bottom: 45px;
}

p.section-description {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}

a.social-media>i {
    color: #ffc61a;
    margin-right: 15px;
}

a.social-media:hover {
    opacity: 0.7;
}

div.android-ios-box {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    align-items: center;
    grid-row-gap: 15px;
}

a.android-ios>i {
    color: #fff;
}

a.android-ios:hover {
    opacity: 0.7;
}

p.android-ios-name {
    color: #ffc61a;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

address {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row-gap: 20px;
    align-items: baseline;
}

address i {
    color: #fff;
    margin-bottom: 15px;
}

address p {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 18px;
}

.copyright p {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin-top: 20px;
}

div.footer-sections {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: center;
    grid-column-gap: 80px;
    padding: 80px 0;
}

div.copyright {
    text-align: center;
    height: 52px;
    align-self: end;
    background-color: #000000;
    opacity: 0.68;
}

.google-play:hover,
.app-store:hover {
    opacity: 0.7;
}

@media (min-width: 992px) and (max-width: 1200px) {

    div.main-top {
        padding: 50px 50px 0;
    }

    .nav-bar li:not(.last) {
        margin-right: 20px;
    }

    section.best-in-city {
        grid-column-gap: 40px;
        grid-template-columns: 40% 40%;
    }

    article.econom {
        grid-area: econom;
    }

    article.standard {
        grid-area: standard;
    }

    article.business {
        grid-area: business;
    }

    div.tariff-class {
        grid-template: 1fr 1fr/ 1fr 1fr;
        grid-row-gap: 150px;
        grid-template-areas:
            "econom standard"
            "business business";
        margin-bottom: 100px;
    }

    article.business {
        justify-self: center;
    }

    section.do-best {
        padding: 80px 40px 20px;
        grid-column-gap: 30px;
    }

    section.reviews {
        grid-template-columns: 1fr;
    }

    .reviews-name {
        grid-column: 1/-1;
        margin-bottom: 30px;
    }

    .separate-review-left,
    .separate-review-right {
        justify-self: center;
    }

    div.call {
        padding: 70px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    header {
        grid-template-columns: 1fr 1fr;
    }

    div.main-top {
        padding: 50px 30px 0;
    }

    ul.nav-bar {
        display: none;
    }

    div.menu {
        display: block;
        justify-self: end;
    }

    div.menu i {
        color: #fff;
    }

    section.best-in-city {
        grid-template-columns: 1fr;
        padding: 150px 30px 80px;
    }

    form {
        justify-self: center;
    }

    article.econom {
        grid-area: econom;
    }

    article.standard {
        grid-area: standard;
    }

    article.business {
        grid-area: business;
    }

    div.tariff-class {
        grid-template: 1fr 1fr/ 1fr 1fr;
        grid-row-gap: 150px;
        grid-template-areas:
            "econom standard"
            "business business";
        margin-bottom: 100px;
    }

    article.business {
        justify-self: center;
    }

    section.do-best {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        padding: 80px 80px 20px;
    }

    .do-best-name,
    .do-best-button {
        grid-column: 1/-1;
    }

    section.reviews {
        grid-template-columns: 1fr;
    }

    .reviews-name {
        grid-column: 1/-1;
        margin-bottom: 30px;
    }

    .separate-review-left,
    .separate-review-right {
        justify-self: center;
    }

    section.download {
        grid-template: 1fr 400px 500px/1fr;
    }

    .download-name {
        grid-column: 1/-1;
    }

    div.download-app {
        justify-self: center;
    }

    div.download-img {
        background-position: center top 40px;
    }

    div.call {
        padding: 70px;
    }

    div.footer-sections {
        grid-template-columns: repeat(2, 35%);
        grid-row-gap: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    header {
        grid-template-columns: 1fr 1fr;
    }

    div.main-top {
        padding: 50px 30px 0;
    }

    ul.nav-bar {
        display: none;
    }

    div.menu {
        display: block;
        justify-self: end;
    }

    div.menu i {
        color: #fff;
    }

    div.taxi-img {
        margin: 0 15px;
        top: 480px;
    }

    section.best-in-city {
        grid-template-columns: 1fr;
        padding: 150px 30px 80px;
    }

    form {
        justify-self: center;
    }

    article.econom {
        grid-area: econom;
    }

    article.standard {
        grid-area: standard;
    }

    article.business {
        grid-area: business;
    }

    div.tariff-class {
        grid-template: repeat(3, 1fr)/1fr;
        grid-row-gap: 150px;
        grid-template-areas:
            "econom"
            "standard"
            "business";
        margin-bottom: 100px;
    }

    article.econom,
    article.business {
        justify-self: center;
    }

    section.do-best {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        padding: 80px 30px 20px;
    }

    .do-best-name,
    .do-best-button {
        grid-column: 1/-1;
    }

    section.reviews {
        grid-template-columns: 1fr;
    }

    .reviews-name {
        grid-column: 1/-1;
        margin-bottom: 30px;
    }

    .separate-review-left,
    .separate-review-right {
        justify-self: center;
    }

    section.download {
        grid-template: 1fr 400px 500px/1fr;
    }

    .download-name {
        grid-column: 1/-1;
    }

    div.download-app {
        justify-self: center;
    }

    div.download-img {
        background-position: center top 40px;
    }

    div.call {
        padding: 15px;
    }

    div.footer-sections {
        grid-template-columns: repeat(2, 35%);
        grid-row-gap: 40px;
    }
}

@media (max-width: 575px) {
    header {
        grid-template-columns: 2fr 1fr;
    }

    div.main-top {
        padding: 50px 30px 0;
        min-height: 550px;
    }

    ul.nav-bar {
        display: none;
    }

    div.menu {
        display: block;
        justify-self: end;
    }

    div.menu i {
        color: #fff;
    }

    p.tel {
        font-size: 50px;
    }

    p.sait {
        letter-spacing: 0;
    }

    div.taxi-img {
        margin: 0 15px;
        top: 400px;
    }

    section.best-in-city {
        grid-template-columns: 1fr;
        padding: 150px 30px 80px;
        min-height: 500px;
    }

    form {
        justify-self: center;
    }

    article.econom {
        grid-area: econom;
    }

    article.standard {
        grid-area: standard;
    }

    article.business {
        grid-area: business;
    }

    div.tariff-class {
        grid-template: repeat(3, 1fr)/1fr;
        grid-row-gap: 150px;
        grid-template-areas:
            "econom"
            "standard"
            "business";
        margin-bottom: 100px;
    }

    article.econom,
    article.business {
        justify-self: center;
    }

    section.do-best {
        grid-template: auto repeat(4, 1fr) auto/ 1fr;
        grid-row-gap: 30px;
        padding: 80px 20px 20px;
        justify-content: center;
    }

    article.home-pickup,
    article.fast-booking,
    article.bonuses-ride,
    article.gps-searching {
        background-position: center bottom;
    }

    .do-best article h3 {
        margin: 0 0 20px;
        text-align: center;
    }

    .do-best article p {
        margin: 0 10px 100px;
        text-align: justify;
    }

    .do-best-name,
    .do-best-button {
        grid-column: 1/-1;
    }

    section.reviews {
        grid-template-columns: 1fr;
        padding: 50px 20px 50px;
    }

    .reviews-name {
        grid-column: 1/-1;
        margin-bottom: 30px;
    }

    .separate-review-left,
    .separate-review-right {
        justify-self: center;
        background-size: cover;
    }

    p.review-description {
        margin-bottom: 10px;
    }

    section.download {
        grid-template: 1fr 500px 500px/1fr;
    }

    .download-name {
        grid-column: 1/-1;
    }

    div.download-app {
        padding: 50px 20px;
        justify-self: center;
    }

    img.app-store {
        margin-left: 0;
    }

    div.download-img {
        background-position: left top 40px;
    }

    div.call {
        padding: 15px;
    }

    div.footer-sections {
        grid-template-columns: repeat(1, 55%);
        grid-row-gap: 40px;
    }


}